<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <script src="/js/workWithFloor.js"></script>
    <div id="Floor">
        <a href="floorsPage.html">
            <img id="backPointer" src="/images/backPointer1.svg">
        </a>
            <script>
                var array = getArray();
                printFloorWithPath(array);
            </script>
    </div>
</body>
</html>